<div class="flex items-center p-4 text-2xl text-muted gap-2">
  @for (duration of durationOptions; track $index) {
    <button
      type="button"
      class="flex-1 text-center hover:text-text hover:cursor-pointer"
      [class.text-text]="selectedDuration === duration"
      (click)="selectedDuration = duration"
    >
      {{ duration | titlecase }}
      <div
        class="block h-2 mt-2 mx-auto w-16 sm:w-18 md:w-32 xl:w-64   rounded 
              gardient-pink-to-purple
              transition origin-center duration-200 ease-out"
        [class.scale-x-100]="selectedDuration === duration"
        [class.opacity-100]="selectedDuration === duration"
        [class.scale-x-0]="selectedDuration !== duration"
        [class.opacity-0]="selectedDuration !== duration"
        style="transform-origin:center"
      ></div>
    </button>
  }
</div>